.header {
    background: linear-gradient(to right, rgba(255, 12, 12, 0.2), rgba(53, 125, 192, 0.4)),
                url("../img/header.jpeg");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    padding: 12em 0;
}

.header h1 {
    font-weight: bold;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 5em;
}

.header p {
    font-size: 2em;
}

.header ul {
    margin-bottom: 0;
}

.header ul li {
    display: inline;
}

.header ul li a {
    border-radius: 50%;
    font-size: 1.5em;
    width: 50px;
    height: 50px;
}

.pasirinkimai .row > div:hover a::after {
    opacity: 1;
}

.pasirinkimai .row > div:hover img {
    transform: scale(1.2);
}

.pasirinkimai a {
    display: block;
    position: relative;
    overflow: hidden;
}

.pasirinkimai a::after {
    content: "+";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    font-size: 3em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s all;
}

.pasirinkimai img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: 0.2s all;
}
